body{ margin: 0; padding: 0;; width:100%; height:20vw; box-sizing: border-box; background-color:   rgb(255, 255, 255)}
section{ min-height: 100%;}
a{ text-decoration: none; }
*{ font-family: '';}

@media(max-width:700px){
.navlinks{
    opacity: 0;
}
header{
    display:flex;
    align-items: center;
height: 10vw;
    width: 100%;
   background-color:  rgb(0, 0, 0);
padding-top: 3vw;padding-bottom: 3vw;
}

header h1{
    color:  rgb(255, 255, 255);
    margin-left: 7vw;
    margin-top: 3vw;
    line-height: 1.9vw;
}

.top{
    display: flex;
    margin-top: -8vw;
}
  #start .top h3{
    font-size: 6vw;
    color: rgb(18, 32, 18);
    margin-top: -4vw;
    margin-left: 4vw;
   }

  .top .logo{
    width: 7vw;
    height: 7vw;
    margin-left: 24vw;
    margin-top: -4vw;
    border: 0px solid; 
  
    padding: 0.5vw;
}
 /*--------------------bar----------------------------*/

 .bars{
    left: 0;
  }
    header .barlinks{
        position: fixed;
        width: 100%;
       height: 100%;
       background-color: rgb(30, 53, 30);
       padding-top: 3vw;
       left: -110vw;
       top:0;
       transition: all .5s ease;
    }
    .barlinks ul li{
       list-style: none;
     
        margin-top: 20vw;

    }
    header .barlinks ul a{
        display: block;
        height: 100%;
        width: 100%;
        line-height:0vw;
        font-size: 6vw;
        color: #dedede;
        font-weight: bold;
        margin-left: 15vw; 
      
        
    }
     
    .barlinks ul a:hover{
        color: #707070;
        
    }
    
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: fixed;
        cursor: pointer;
    }
    header .bars label #btn{
        left:3vw;
        top: 3vw;
        font-size: 10vw;
        color: #000000;
      
    }
   header .bars label #cancel{
        z-index: 1111;
        left: -8vw;
        font-size: 10vw;
        color: #fff;
     
    }
    #check:checked ~ .barlinks{
        left: 0;
    }
    #check:checked ~ label #btn{
        left: 30vw;
        opacity: 0;
        pointer-events: none;
    }
   header #check:checked ~ label #cancel{
        left: 7vw;
        margin-top: 3vw;

    }
    section{
        background: url(ksquarevid.mp4) no-repeat;
    }
    /*--------------------bar----------------------------*/

header .navlinks{
    width: 0vw;
    position: absolute;
    display: flex;
    display: inline-block;
    text-align: center;
    margin-top: 10vw;
}
.navlinks ul {
    margin-left:20vw;
    align-items: center;  
    margin-top: 10vw;
    right: 0; 
    
}

.navlinks ul li{
    list-style: none;
    display:inline-block;
    margin-left: 10vw;
   margin-top: 10vw;
}
.navlinks ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 0.8vw;
    font-weight: bolder;
    text-align: center;  
}
.navlinks ul li a:hover{
    color:rgb(157, 157, 157);
   font-weight: bold;
   transition: .1s ease;
}

#start{
    margin-top: 7vw;
    margin-left: 7vw;
}

#start .start1 h2{
    font-size: 6.5vw;
    color:  rgb(0, 0, 0);
    margin-top: 25vw;
    margin-left: 3vw;
}
#start .start1 h3{
    font-size: 4vw;
    color: #000000;
    margin-top: 6vw;
    line-height: 7vw;
    margin-left: 3vw;
    margin-bottom: 7vw;
    padding-right: 27vw;
}
.start1 h3 span{
    color: rgb(0, 0, 0);
}
#start .start1 h6{
    margin-top: 12vw;
    font-size: 2.8vw;
    color: #191717;
    margin-left: 3vw;
    line-height: 5.5vw;
    margin-bottom: 0vw;
}


.kgo{
    display: flex;
}


#start .iconk{
    color: #3a3a3a;
    font-size: 7vw;
    margin-left: 77vw; 
    display: flex; 
    margin-top: -2vw;
    cursor: pointer;
    text-decoration: none;
}
#start .iconk a:hover{
    color: #5e5e5e;
  
}
#start .ktext{
      
    color: #000000;
   
    border-radius: 4vw;
    font-size: 3vw;
    margin-top: 3vw;
    margin-left: 47vw;
    text-align: center;
    border: 0.3vw solid;
    font-weight: bold;
    width: 37vw;
    padding-left: 4vw;
    padding-right: 0vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    height: 5vw;
}
#start .ktext h4{
color: #000000;
margin-top: 0.3vw;
display: flex;
align-items: center;

}
#start #arrow{
font-size: 5vw;
margin-left: 1.5vw

}

#start .box-container{
    border:0px solid;
    background-color: black;
    width: 107%;
    height: 25vw;
    position: relative;
    overflow: hidden;
    margin-left: -7vw;
    border-radius: 0vw;
margin-top: 10vw;
}

#start .background-clip{
    width:121%;
 margin-left: -10vw;
 margin-top: -8vw;
}
.ktext a{
    color: #fff;
    font-weight: 500;
}

#start .press{
    font-weight: bolder;
    font-size: 3vw;
 border: 0px solid;
 color: #000000;
 padding: 0.5vw;
 padding-left: 1vw;
 width: 33vw;
    margin-left: 14vw;
    margin-bottom: 4vw;
    margin-top: 6vw;
}

#start .container{
    margin-top: 5vw;

    width: 100vw;
    padding: 2vw;
    border-radius: 0vw;
    margin-left: -16vw;

}
#start .pt1{
    color: #000000;
    font-size: 2.5vw;
    font-weight: bold;
    text-align: left;
    line-height: 5vw;
    margin-left: 15vw;
   margin-top: 1vw;

 
}
.pt1:hover{
    color: #989898;
    
    cursor: pointer;
    
}






    #field{
        margin-left: vw;
background-color: #ffffff;
margin-top: 10vw;
padding-top: 5vw;
padding-bottom: 9vw;
    }

.field1{
    margin-top: 12vw;
  
}
    #field .field1 h4{
        font-size: 5vw;
        color:rgb(0, 0, 0);
        margin-top:0vw;
        margin-left: 7vw;
        line-height: 7vw;
    }
    #field .field1 h6{
        margin-top:100vw;
        font-size: 3.5vw;
        color: #000000;
        margin-left: 7vw;
        line-height: 4.5vw;
        padding-right: 7vw;
        opacity: 0%;
    }
    #field .field1 p{
        margin-top:-30vw;
        font-size: 3.5vw;
        color: #000000;
        margin-left: 7vw;
        line-height: 5.5vw;
        padding-right: 7vw;
        font-weight: bold;
        padding-bottom: 4vw;
    }
    #field .text{

        font-size: 3vw;
        padding-right: 7vw;
        line-height: 5vw;
        font-weight: 300;
    }
    #field .four{
        display: flex;
        margin-left: 12vw; 
        margin-top: -140vw;
        padding-bottom: 85vw;
        
    }
    #field .two{
        display: flex;
        margin-top: 40vw;
        margin-left: -63vw;
    }
    #field .four h5{
        font-size: 3vw;

    }
    #field .ycon{
        font-size: 9vw;
        margin-bottom: 2vw;
        margin-top: vw;
    }
    #field .closed{
        border: 0px solid;
        color: rgb(0, 0, 0);

   background-color: #fff;
   width:25vw;
        height: 13vw;
        margin-left: 7vw;
        margin-top: 8vw;
        text-align: center;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    
    #field .live{
        border: 0px solid;
        color: rgb(0, 0, 0);
       
        width:20vw;
       margin-left: 17vw;
        margin-top: 8vw;
        text-align: center;
        background-color: #fff;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    #field .sale{
        border: 0px solid;
        color: rgb(0, 0, 0);

        width:20vw;
        margin-right: 20vw;
        margin-top: 8vw;
        text-align: center;
        background-color: #fff;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    #field .enter{
        border: 0px solid;
        color: rgb(0, 0, 0);
      
        width:20vw;
        margin-left: 2vw;
        margin-top: 8vw;
        text-align: center;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
        background-color: #fff;
    }
    .text{
        font-weight: bold;
        line-height: 1.5vw;
        font-size: 0.8vw;
        margin-left: 7vw;
        color: #000000;
        
    }


    
    /*스튜디오 섹션*/
    .korea h5{
        margin-left: 7vw;
    }
    .container0{
        display: flex;
        flex-direction: column;
        margin-top: 7vw;
    }
    #studiopic .container1{
        background-color: rgb(25, 48, 25);
        height: 97vw;
        width: 100vw;
        margin-top: 5vw;
    }
    #studiopic .container2{
        background-color: rgb(237, 237, 237);
        height: 100vw;
        width: 100vw;
    }
    #studiopic .mobile .kmap{
        margin-left: 45vw;
        margin-top: 25vw;
      
    }
    #studiopic .mobile .halfpic{
        height: 55vw;
        margin-top: 0vw;
        margin-left: -13vw;
        opacity: 100%;
    }
   #studiopic{
    background-color: rgb(255, 255, 255);
    padding-top: 10vw;
    margin-top: -3vw;
    padding-bottom: 150vw;
   }
    #studiopic .mobile .kotx h5{
    border: 0px solid;
   color: #ffffff;
    width: 70vw;
    padding: 1vw;
        margin-left: 13vw;
        margin-top: -1vw;
        font-size: 3.3vw;
        font-weight: bold;
        line-height: 5vw;
        padding-left: 3vw;
       border: 0px solid;
text-align: center;
       border-radius: 0vw;
    }
    #studiopic .mobile .stulog{
        margin-left: -3.2vw;
        margin-top: 0w;
        display: flex;
        flex-direction: column;
    }
    #studiopic .mobile .stulog .logo{
        margin-top: 20vw;
        margin-left: 45vw;
        width: 13vw;
        height: 13vw;
        border: 0px solid;
        background-color: rgb(25, 48, 25);
        padding: 3vw;
        
    }
  
    #studiopic .mobile h3{
        font-size: 6vw;
        margin-left: 8vw;
        margin-top: 11vw;
        
        color: #000000;
    }
  
    #studiopic .mobile h6{
        margin-left: 3vw;
        font-size: 4vw;
        padding-left: 10vw; padding-right: 10vw;
        line-height: 6vw;
        margin-top: 15vw;
        color: #000000;
        text-align: center;
    }
    #studiopic .mobile .korea h4{
        margin-left: 0vw;
        margin-top: 36vw;
        border: 0vw solid;
       font-weight: bolder;
        border-radius: 0vw;
        opacity: 100%;
        color: #ffffff;
        text-align: center;
        padding-top: 0.7vw;padding-bottom: 0.7vw;
        font-size: 4.5vw;
    }
  
    #studiopic .mobile .round1{
        font-size: 10vw;
        color: rgb(255, 255, 255);
        margin-top: -50vw;
        margin-left: -8vw;
    }
    #studiopic .mobile .round2{
        font-size: 5vw;
        color: rgb(255, 255, 255);
        margin-top: 20vw;
        margin-left: 15vw;
    }
    #studiopic .mobile .roundtext1{
        font-size: 4vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(25, 48, 25);
        padding: 0.2vw; padding-bottom: 0.5vw;
        text-align: center;
        width: 25vw;
        border-radius: 1vw;
        margin-top: -30vw;
        margin-left: -36vw;
    }
    #studiopic .mobile .roundtext2{
        font-size: 4vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(25, 48, 25);
        padding: 0.2vw;padding-bottom: 0.5vw;
        text-align: center;
        width: 25vw;
        border-radius: 1vw;
        margin-top: 20vw;
        margin-left: 25vw;
    }
    #studiopic .mobile .roundtext3{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: -38vw;
        margin-left: -35vw;
    }
    #studiopic .mobile .roundtext4{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: 10vw;
        margin-left: -35vw;
    }
    #studiopic .mobile .roundtext5{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: 0.5vw;
        margin-left: -35vw;
    }
    #studiopic .mobile .roundtext6{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: 0.5vw;
        margin-left: -35vw;
    }
    #studiopic .mobile .roundtext7{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: -10vw;
        margin-left: 24vw;
    }
    #studiopic .mobile .roundtext8{
        font-size: 3vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 20vw;
        border-radius: 1vw;
        margin-top: -20vw;
        margin-left: 20vw;
    }
#studiopic{
  
}
#studiopic .studio{
       
        display: flex;
        align-items: center;
        margin-top: 6vw;
    }
  
    #studiopic .img{
       
        margin-top: 65vw;
       
  padding-bottom: 86vw;
    }
  
    #studiopic .img .container{
        width: 100%;
        height: 25vw;

        display: flex;
        flex-direction: column;
        justify-content: center;

        margin-top: 20vw;
       
     
    }
    #studiopic .img .container .longpic{
        display: flex;
        margin-left: -2.8vw;
        right: 0;
        background-color: #ffffff;
        width: 95%;

    }
    #studiopic .img .container .columnpic{
        display: flex;
        flex-direction: column;
    background-color: #ffffff;
        width: 95%;
        left: 0;
        margin-left: -2.8vw;
       
    }
    #studiopic .img .box1{
        width: 51vw;
        height: 75vw;
        overflow: hidden;
      
    }
    #studiopic .img .box2{
        width: 51vw;
        height: 75vw;
        overflow: hidden;
      
    }
    #studiopic .img .box3{
        width: 95vw;
        height: 50vw;
        overflow: hidden;
       
        margin-bottom: 0.2vw;
        
    
    }
    #studiopic .img .box4{
        width: 100vw;
        height: 50vw;
        overflow: hidden;
        
        
    }
    #studiopic .img .box0{
        background-color: rgb(215, 215, 215);
        height: 20vw;
        width: 89.7vw;
        font-size: 4vw;
        padding-left: 5vw;
        padding-top: 5vw;
        font-weight: bold;
        margin-left: -2.5vw;
    }
    
    .img .box1{
        margin-top: 0vw;
        margin-left: 0vw;
         }
         .img .box2{
            margin-top: 0vw;
            margin-left: 0vw;
             }
         .img .box3{
            margin-left: 0vw;
             }


    #studiopic .img .box1 .st1{
        width: 60vw;
        height: 80vw;
      margin-top: -1vw;
       margin-left: -0.5vw;
    }
    #studiopic .img .box2 .st2{
        width: 60vw;
        height: 80vw;
        margin-top: -4.5vw;
        margin-left: -5vw;
    }
    #studiopic .img .box3 .st3{
        width: 100vw;
        height: 70vw; 
        margin-top: -5vw;
        margin-left: -5vw;   
    }
    #studiopic .img .box4 .st4{
        width: 120vw;
        height: 80vw;  
   margin-left: 5vw;
     
        
    }
   /*스튜디오 섹션*/


    .all{
        font-size: 0.7vw;
        font-weight: bold;
        color: #000000;
        display: flex;
        margin-top: -30vw;
        line-height: 1.2vw;
        margin-left: 50vw;
    }
    .all ul{
        list-style: none;
        margin-left: 0vw;
       
        color: rgb(0, 0, 0);
        padding-right: 2vw;
        padding-top: 2vw;
    
        text-align: center;
        border-radius: 1vw;
    }
    .cent ul{
        padding-bottom: 4vw;
    }
    .foriegn ul{
        padding-left: 3vw;
        padding-right: 1vw;
    }
    .busi ul{
        padding-left: 4vw;
        padding-right: 1vw;
    }
    .output ul{
        padding-left: 3vw;
        padding-right: 1vw;
    }
    .user{
        border: 2px solid;
        color: #ffffff;
        border-radius: 5vw;
        margin-top: 0vw;
        margin-left: 53vw;
        text-align: center;
        font-size: 1vw;
        width: 32vw;
        background-color: rgb(75, 119, 75);

    }
    
    .icon{ font-size: 2vw; color: rgb(75, 119, 75); margin-top:3vw; margin-left:1vw; margin-right:-2vw; }
   
        .icon23{
            display: flex;
            
            margin-top: -16vw;
        }
    .icon2{ font-size: 2vw; color: rgb(75, 119, 75);margin-top:8.5vw;  margin-left:82vw; margin-right:-2vw; }
    
        
    .icon3{ font-size: 2vw; color: rgb(75, 119, 75); margin-top:8.5vw; margin-left: -27.8vw; }
  

    #core{
      padding-top: 5vw;
        margin-top: 2vw;
    }
 
    #core .title h2{
        font-size: 4vw;
        margin-left: 8vw;
        
    }
    #core{
        padding-bottom: 10vw;
    }
   
    #core .livecom{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
        margin-left: 20vw;
    }
    #core .send{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
   
    }
    #core .plat{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
     margin-right: 20vw;
    }
    #core .entert{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
        margin-top: 5vw;
        margin-left: 43.5vw;
    }
#core .title{
    opacity: 0;
}
#core .title2{
    width: 100%;
    margin-top: -90vw;
}


    footer .box{
        background-color: #4c4c4c;
        font-size: 3vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
padding-left: 10vw;padding-right: 10vw;
      
    }






}




/*pc먼저 손봄. 이후 모바일 적용*/


@media( max-width:5000px){
    header{
        display:flex;
        align-items: center;
  margin-top: -0.5vw;
        width: 100%;
 
       background-color:  rgb(255, 255, 255);
       padding-bottom: 5vw;

    }

    header h1{
        color:  rgb(255, 255, 255);
        margin-left: 7vw;
        margin-top: 4vw;
        line-height: 1.9vw;
    }
   
    .top{
        display: flex;
        
    }
        .top h3{
        font-size: 2vw;
        color: rgb(0, 0, 0);
        margin-top: 6vw;
        margin-left: 3vw;
       }
       .logo{
        width: 3vw;
        height: 3vw;
        margin-left: 3vw;
        margin-top: 5vw;
        border: 0px solid; 
      
        padding: 0.5vw;
    }

    /*--------------------bar----------------------------*/

  .bars{
    left: 0;
  }
    .barlinks{
        position: fixed;
        width: 7vw;
       height: 100%;
       background-color: rgb(30, 53, 30);
       padding-top: 3vw;
       left: -10vw;
       top:0;
       transition: all .5s ease;
    }
    .barlinks ul li{
       list-style: none;
        margin-left: -1.5vw;
    }
    .barlinks ul a{
        display: block;
        height: 100%;
        width: 100%;
        line-height:3vw;
        font-size: 0.8vw;
        color: #dedede;
        font-weight: bold; 
        
    }
     
    .barlinks ul a:hover{
        color: #707070;
        
    }
    
    #check{
        display: none;
    }
    label #btn, label #cancel{
        position: fixed;
        cursor: pointer;
    }
    label #btn{
        left:3vw;
        top: 3vw;
        font-size: 2vw;
        color: #000000;
    }
    label #cancel{
        z-index: 1111;
        left: -8vw;
        font-size: 2vw;
        color: #fff;
     
    }
    #check:checked ~ .barlinks{
        left: 0;
    }
    #check:checked ~ label #btn{
        left: 30vw;
        opacity: 0;
        pointer-events: none;
    }
    #check:checked ~ label #cancel{
        left: 4vw;
        margin-top: 2vw;

    }
    section{
        background: url(ksquarevid.mp4) no-repeat;
    }
    /*--------------------bar----------------------------*/

    .navlinks{
        width: 100%;
        position: absolute;
        display: flex;
        display: inline-block;
        text-align: center;
        margin-top: 20vw;
    }
    .navlinks ul {
        margin-left: 15rem;
        align-items: center;   
    }
    
    .navlinks ul li{
        list-style: none;
        display:inline-block;
        margin-left: 10vw;
       margin-top: 2vw;
    }
    .navlinks ul li a{
        text-decoration: none;
        color: #000000;
        font-size: 0.8vw;
        font-weight: bolder;
        text-align: center;  
    }
    .navlinks ul li a:hover{
        color:rgb(157, 157, 157);
       font-weight: bold;
       transition: .1s ease;
    }
  
    #start{
        margin-top: -7vw;
        margin-left: 7vw;
    }
    
    .start1 h2{
        font-size: 3.2vw;
        color:  rgb(0, 0, 0);
        margin-top: 15vw;
        margin-left: 3vw;
    }
    .start1 h3{
        font-size: 1.8vw;
        color: #000000;
        margin-top: -1vw;
        line-height: 3vw;
        margin-left: 3vw;
        margin-bottom: 7vw;
    }
    .start1 h3 span{
        color: rgb(0, 0, 0);
    }
    .start1 h6{
        margin-top: -14.5vw;
        font-size: 0.9vw;
        color: #191717;
        margin-left: 53vw;
        line-height: 1.5vw;
        margin-bottom: 5vw;
    }

    
    .kgo{
        display: flex;
        

    }
    .iconk{
        color: #ffffff;
        font-size: 2.3vw;
        margin-left: 82vw; 
        display: flex; 
        margin-top: -2.5vw;
        cursor: pointer;
  
    }
    .iconk a:hover{
        color: #898989;
      
    }
    
    .ktext{
      
        color: #000000;
       
        border-radius: 3vw;
        font-size: 1.2vw;
        margin-top: 1.5vw;
        margin-left: 65vw;
        text-align: center;
        border: 0.2vw solid;
        font-weight: bold;
        width: 15vw;
        padding-left: 2vw;
        padding-right: 0.5vw;
        padding-top: 0vw;
        padding-bottom: 0vw;
        height: 2.5vw;
    }
  .ktext h4{
    color: #000000;
    margin-top: 0.3vw;
    display: flex;
    align-items: center;

  }
   #arrow{
    font-size: 2vw;
  margin-left: 1.5vw

   }
   
    .box-container{
        border:0px solid;
        background-color: black;
        width: 93%;
        height: 25vw;
        position: relative;
        overflow: hidden;
        margin-left: 0vw;
        border-radius: 1vw;
      
    }
    
    .background-clip{
        width:121%;
     margin-left: -9vw;
   
    }



.press{
    font-weight: bolder;
    font-size: 1.1vw;
 border: 0px solid;
 color: #000000;
 
 padding: 0.5vw;
 padding-left: 1vw;
 width: 33vw;
    margin-left: 14vw;
    margin-bottom: 4vw;
}

.container{
    margin-top: 5vw;

    width: 50vw;
    padding: 2vw;
    border-radius: 0vw;
    margin-left: 30vw;
}
.pt1{
    color: #000000;
    font-size: 1vw;
    font-weight: bold;
    text-align: left;
    line-height: 1.8vw;
    margin-left: 15vw;
   margin-top: 1vw;

 
}
.pt1:hover{
    color: #989898;
    
    cursor: pointer;
    
}






    #field{
        margin-left: vw;
background-color: #ffffff;
margin-top: 10vw;
padding-top: 5vw;
padding-bottom: 9vw;
    }

.field1{
    margin-top: 12vw;
  
}
    .field1 h4{
        font-size: 2.5vw;
        color:rgb(0, 0, 0);
        margin-top:-8vw;
        margin-left: 7vw;
        line-height: 3.5vw;
    }
    .field1 h6{
        margin-top:vw;
        font-size: 1vw;
        color: #000000;
        margin-left: 7vw;
        line-height: 1.5vw;
    }

    @media(min-width:700px){
    #field .field1 p{display: none;}
    }

    #field .text{
        margin-top: -1.5vw;
    }
    .four{
        display: flex;
        margin-left: 5vw; 
        margin-top: 0vw;
    }
    .two{
        display: flex;

    }
    .four h5{
        font-size: 1vw;
    }
    .ycon{
        font-size: 3vw;
        margin-bottom: 2vw;
        margin-top: vw;
    }
    .closed{
        border: 0px solid;
        color: rgb(0, 0, 0);

   background-color: #fff;
        width:17vw;
        height: 13vw;
        margin-left: 7vw;
        margin-top: 8vw;
        text-align: center;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    
    .live{
        border: 0px solid;
        color: rgb(0, 0, 0);
       
        width:17vw;
       margin-left: 2vw;
        margin-top: 8vw;
        text-align: center;
        background-color: #fff;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    .sale{
        border: 0px solid;
        color: rgb(0, 0, 0);

        width:17vw;
        margin-left: 2vw;
        margin-top: 8vw;
        text-align: center;
        background-color: #fff;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
    }
    .enter{
        border: 0px solid;
        color: rgb(0, 0, 0);
      
        width:17vw;
        margin-left: 2vw;
        margin-top: 8vw;
        text-align: center;
        padding-top: 4vw; padding-bottom: 2vw;
        border-radius: 1vw;
        background-color: #fff;
    }
    .text{
        font-weight: bold;
        line-height: 1.5vw;
        font-size: 0.8vw;
        margin-left: 7vw;
        color: #000000;
    }


    
    /*스튜디오 섹션*/
    .korea h5{
        margin-left: 7vw;
    }
    .container0{
        display: flex;
        margin-top: 7vw;
    }
    .container1{
        background-color: rgb(25, 48, 25);
        height: 40vw;
        width: 50vw;
    }
    .container2{
        background-color: rgb(228, 228, 228);
        height: 40vw;
        width: 50vw;
    }
    .kmap{
        margin-left: 7vw;
        margin-top: 8vw;
    }
    .halfpic{
        height: 25vw;
        margin-top: 0vw;
        margin-left: 10vw;
        opacity: 100%;
    }
   #studiopic{
    background-color: rgb(255, 255, 255);
    padding-top: 10vw;
    padding-bottom: 30vw;
    margin-top: -3vw;
   }
    #studiopic .kotx h5{
    border: 0px solid;
   color: #fbfbfb;
    width: 20vw;
    padding: 1vw;
        margin-left: 12vw;
        margin-top: -1vw;
        font-size: 1vw;
        font-weight: bold;
        line-height: 1.8vw;
        padding-left: 3vw;
       border: 0px solid;

       border-radius: 0vw;
    }
    .stulog{
        margin-left: -3.2vw;
        margin-top: 0w;
        display: flex;
        flex-direction: column;
    }
    .stulog .logo{
        margin-top: 5vw;
        margin-left: 50vw;
        width: 4.5vw;
        height: 4.5vw;
        border: 0px solid;
        background-color: rgb(25, 48, 25);
        padding: 1vw;
    }
  
    #studiopic h3{
        font-size: 3vw;
        margin-left: 7vw;
        margin-top: 0vw;
        color: #000000;
    }
  
    #studiopic h6{
        margin-left: 3vw;
        font-size: 1.3vw;
        line-height: 2.5vw;
        margin-top: 5vw;
        color: #000000;
        text-align: center;
    }
    .korea h4{
        margin-left: 0vw;
        margin-top: 14vw;
        border: 0vw solid;
       
        border-radius: 0vw;
        opacity: 100%;
        color: #ffffff;
        text-align: center;
        padding-top: 0.7vw;padding-bottom: 0.7vw;
        font-size: 1.5vw;
    }
    .round1{
        font-size: 3vw;
        color: rgb(255, 255, 255);
        margin-top: -21vw;
        margin-left: 12.2vw;
    }
    .round2{
        font-size: 2vw;
        color: rgb(255, 255, 255);
        margin-top: 9vw;
        margin-left: 23vw;
    }
    .roundtext1{
        font-size: 1.5vw;
        font-weight: bold;
        color: #ffffff;
        border: 0px solid;
        background-color: rgb(25, 48, 25);
        padding: 0.2vw; padding-top: 0.3vw;padding-bottom: 0.3vw;
        text-align: center;
        width: 10vw;
        border-radius: 2vw;
        margin-top: -14vw;
        margin-left: -1vw;
    }
    .roundtext2{
        font-size: 1.5vw;
        font-weight: bold;
        color: #ffffff;
        border: 0px solid;
        background-color:  rgb(25, 48, 25);
        padding: 0.2vw;padding-top: 0.3vw;padding-bottom: 0.3vw;
        text-align: center;
        width: 10vw;
        border-radius: 2vw;
        margin-top: 10vw;
        margin-left: 27vw;
    }
    .roundtext3{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: -17.9vw;
        margin-left: 3.5vw;
    }
    .roundtext4{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: 5vw;
        margin-left: 4.5vw;
    }
    .roundtext5{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: 0.5vw;
        margin-left: 4vw;
    }
    .roundtext6{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: 0.5vw;
        margin-left: 4vw;
    }
    .roundtext7{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: -1vw;
        margin-left: 28vw;
    }
    .roundtext8{
        font-size: 0.8vw;
        font-weight: bold;
        color: #fff;
        border: 0px solid;
        background-color: rgb(0, 0, 0);
        padding: 0.2vw;
        text-align: center;
        width: 5vw;
        border-radius: 1vw;
        margin-top: -11vw;
        margin-left: 26vw;
    }
#studiopic{
    background-color: 
}
    .studio{
        margin-left: 7VW;
        display: flex;
        align-items: center;
        margin-top: 6vw;
    }
 
    .img{
       
        margin-top: -25vw;
        margin-left: -3vw;
  
    }
  
    .img .container{
        width: 100%;
        height: 25vw;

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: -3.5vw;
        margin-top: 20vw;
       
     
    }
    .img .container .longpic{
        display: flex;
        margin-left: 0vw;
        right: 0;
    }
    .img .container .columnpic{
        display: flex;
        margin-left: 5vw;
        width: 50vw;
        left: 0;
       
    }
    .img .box1,.box2{
        width: 19vw;
        height: 25vw;
        overflow: hidden;
        margin-left: 0.2vw;
    
    }
    .img .box3,.box4{
        width: 30vw;
        height: 15vw;
        overflow: hidden;
        
        margin-left: -5vw;
    }
    .img .box0{
        background-color: rgb(0, 0, 0);
        height: 5vw;
        font-size: 1.5vw;
        padding-left: 5vw;
        padding-top: 5vw;
        font-weight: bold;
        color: #fff;
    }
    
    .img .box1{
        margin-top: 0vw;
        margin-left: 0vw;
         }
         .img .box2{
            margin-top: 0vw;
            margin-left: 0vw;
             }
         .img .box3{
            margin-left: 0vw;
             }


    .img .box1 .st1{
        width: 20vw;
        height: 28vw;
      margin-top: -1vw;
       margin-left: -0.5vw;
    }
    .img .box2 .st2{
        width: 25vw;
        height: 30vw;
        margin-top: -4.5vw;
        margin-left: -5vw;
    }
    .img .box3 .st3{
        width: 28vw;
        height: 20vw; 
        margin-top: -5vw;
        margin-left: 0vw;   
    }
    .img .box4 .st4{
        width: 30vw;
        height: 20vw;  
     
        
    }
   /*스튜디오 섹션*/
  

    .all{
        font-size: 0.7vw;
        font-weight: bold;
        color: #000000;
        display: flex;
        margin-top: -30vw;
        line-height: 1.2vw;
        margin-left: 50vw;
    }
    .all ul{
        list-style: none;
        margin-left: 0vw;
       
        color: rgb(0, 0, 0);
        padding-right: 2vw;
        padding-top: 2vw;
    
        text-align: center;
        border-radius: 1vw;
    }
    .cent ul{
        padding-bottom: 4vw;
    }
    .foriegn ul{
        padding-left: 3vw;
        padding-right: 1vw;
    }
    .busi ul{
        padding-left: 4vw;
        padding-right: 1vw;
    }
    .output ul{
        padding-left: 3vw;
        padding-right: 1vw;
    }
    .user{
        border: 2px solid;
        color: #ffffff;
        border-radius: 5vw;
        margin-top: 0vw;
        margin-left: 53vw;
        text-align: center;
        font-size: 1vw;
        width: 32vw;
        background-color: rgb(75, 119, 75);

    }
    
    .icon{ font-size: 2vw; color: rgb(75, 119, 75); margin-top:3vw; margin-left:1vw; margin-right:-2vw; }
   
        .icon23{
            display: flex;
            
            margin-top: -16vw;
        }
    .icon2{ font-size: 2vw; color: rgb(75, 119, 75);margin-top:8.5vw;  margin-left:82vw; margin-right:-2vw; }
    
        
    .icon3{ font-size: 2vw; color: rgb(75, 119, 75); margin-top:8.5vw; margin-left: -27.8vw; }
  

  
 
  
    #core{
        margin-top: -29vw;
        padding-bottom: 22vw;
    }
    @media (min-width:700px){
    .mobilecir{display: none;

    }
}
/*
    #core .livecom{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
        margin-left: 20vw;
    }
    #core .send{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
   
    }
    #core .plat{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
     margin-right: 20vw;
    }
    #core .entert{
        border: 0px solid;
        padding: 1vw;
        background-color: rgb(255, 255, 255);
        width: 10vw;
        border-radius: 0.5vw;
        padding-top: 1vw;
        margin: 0 auto;
        font-weight: bold;
        text-align: center;
        margin-top: 5vw;
        margin-left: 43.5vw;
    }

*/
.klogo{
   margin-bottom: 1vw;
   width: 4.5vw;
   margin-left: 0.5vw;

}

.closet{
    font-size: 5vw;
margin-left: 12.5vw;
margin-top: -25vw;
color: #fff;
}
@media(min-width:700px){
.title2{
    display: none;
}
}

     .box{
        background-color: #4c4c4c;
        font-size: 0.8vw;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;

      
    }
    .box p{
        margin-left: 26px;
        padding-top: 2vw;
    }
    .box h1{
        padding-bottom: 1vw;
        margin-top: -0.5vw;
    }


}
