*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 100px;
    height:130vh;
    width: 100%;
    margin:0 auto;
    scroll-behavior: smooth; 
}







header{
    grid-column-start: span 3;
justify-content: space-between;
  
    
}
.signup{
    float: right;
    margin-top: 35vw;
    margin-left: 4vw;
    position: fixed;
 }
 .signup a{
 text-decoration: none;
 font-weight: bolder;
     width: 90px;
    padding: 10px;
     padding-left: 20px;
     padding-right: 20px;
     border-radius: 20px;
    color:black;
    background-color: #fff;
 opacity: 80%;
   
 }
 
 
  .signup a:hover{
     color:#fff;
     background-color: rgb(0, 0, 0);
 
     font-weight: bolder;
     transition: 0.3s ease;
 }

.barlinks{
    display: none;
}


 

main{
    background-color: rgb(0, 77, 77)54, 114, 114;
    grid-column-start: span 3;
    
 
}
.background-clip{
    position: absolute;
    right:0;
    bottom: 0;
    z-index:-1;
    
   
width: 100%;
}
@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height:auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height:100%;
    }}


body{
    margin: 0;
    padding: 0;
}

.navlinks{
    width: 100%;
    position: fixed;
    padding: 0 5%;
    display: flex;
    display: inline-block;
text-align: center;
border: 0px solid;
height: 5vw;    
background-color: rgba(0, 0, 0, 0.351);

}
.navlinks ul {
    margin-right: 10vw;
}

.navlinks ul li{
    list-style: none;
    display:inline-block;
    margin-left: 150px;
   margin-top: 1.7vw;
}
.navlinks ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
    
   
}
.navlinks ul li a:hover{
    color:rgb(157, 157, 157);
   font-weight: bold;
  
   transition: .1s ease;
}
/*
.navlinks ul li a .active {
    color:black;
    font-weight: 1000;
}*/
#home{
    height:46vw;
  
    display: inline-block;
    width: 100%;
}
#home p{
    font-size: 2vw;
    color: #fff;
    font-weight:bold;
    text-align: center;
    MARGIN-top: 5VW;
}
#home p SPAN{
    
    font-size: 1.2VW;
}
.log{
    width: %;  
    position: relative;
    padding: 0 5%;
}

.logo{
    width: 4vw;
margin-top: 5vw;
margin-left: 42.5vw;  
}







#intro{
    margin-top: -13.6vw;
    height:2000vh;
    background: #162C18; 
    width: 100%;
}
#intro p{
    text-align: center;
}
#intro span{
    font-weight: 300;
    margin-top: 20px;
    font-size: 2.5vw;
}
.boxx{
    width: 300px;
    height: 300px;
    display: flex;
    align-items:center;
    -ms-align-items:center;
border: 8px solid white;
padding-left: 33px;
padding-bottom: 10px;
   margin: 0 auto;
   
    
}
.boxx h2{
    color:rgb(226,226,226);

    font-size: 3em;
    z-index: 2
}


#intro .p2{
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 3vw;
    
}

.picff{
    margin-top: vw;
  
}


#bus{
    height:200vw;
    background: #162C18;
    display: inline-block;
    width: 100%;
}
.picGG p{
    
    text-align: center;
    font-size: 50px;
    
}


#ksquare{
    height:90vw;
    background: #162C18;
    display: inline-block;
    width: 100%;

}
.picaa p{
    text-align: center;
   
}
.piky{
    width: 100%;
    
}
#range{
    height:200vw;
    background: #162C18;
    display: inline-block;
    width: 100%;
}
.picyy p{
    text-align: center;
  
}
#range p{
    font-weight: bold;
    font-size: 1.7vw;
    color:#fff;
margin-top: 10vw;
margin-left: 0vw;
margin-bottom: 10VW;
}

#intro p{
    font-weight: bold;
    font-size: 1.7vw;
    color:#fff;
margin-top: 10vw;
margin-left: 0vw;
margin-bottom: 10VW;

}
#bus p{
    font-weight: bold;
    font-size: 1.7vw;
    color:#fff;
margin-top: 10vw;
margin-left: 0vw;
margin-bottom: 10VW;

}
#ksquare p{
    font-weight: bold;
    font-size: 1.7vw;
    color:#ffffff;
margin-top: 10vw;
margin-left: 0vw;
margin-bottom: 10VW;

}







footer{
    background-color: black;
    grid-column-start: span 3;
    height: 6vw;
    
}
.box{
    color: aliceblue;
    font-size: 0.5vw;
    text-align: center;
   margin-top: 2vw;
}






@media(max-width:768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto 100px;
     
    }
    header,main,footer{
        grid-column-start: span 1;
    }

}

@media(max-width:700px){


   .signup{display: none;}
   .navlinks{display: none;}
   #home p{
    font-size: 6vw;
    color: #fff;
    font-weight:bold;
    text-align: center;
    MARGIN-top: 5VW;
}
#home p SPAN{
    
    font-size: 3.8VW;
}
.logo{
    width: 10vw;
margin-top: 5vw;
margin-left: 40vw;  
}
   .barlinks{
    width: 30%;
    position: fixed;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
text-align: center;
border: 0px solid;
height: 0;    
background-color: rgb(0, 0, 0);
align-items: center;
opacity: 70%;
overflow: hidden;
transition: .3s ease;
border-radius: 20px;


}.barlinks ul {
    margin-right: 3vw;
}

.barlinks ul li{
    list-style: none;
    display:inline-block;
    margin-left: 10px;
   margin-top: 6vw;
}
.barlinks ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 3vw;
    font-weight: bolder;
    text-align: center;
    transition: .3s ease;
}
.barlinks ul li a:hover{
    color:rgb(173, 173, 173);
   font-weight: 1000;
   
}
 
}
.icons{
    font-size:2rem;
    color:#000000;
    cursor: pointer;
    display: inline-flex;
}


.bar{
    position: fixed;
    margin-left: 3vw;
    margin-top: 3vw;
}
.icons{
    color: #fff;
    opacity: 90%;
}
#check{
    display: none;
}
#check:checked~.icons #down-icon {
    display: none;
}
.icons #up-icon{
display: none;
}
#check:checked~.icons #up-icon {
    display: block;
}
#check:checked~.barlinks {
    height: 65vw; 
}
@media(min-width:700px){
.bar,.barlinks{
    display: none;
}
}
